<div class="img" style="background: url('');">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="jumbotron text-center">
                <h1 style="color: #17a2b8;">Welcome</h1>
                <h4>CREDIT MANAGEMENT SITE</h4>
                <a href="/api/transfer" class="btn btn-info">CREDIT</a>
            </div>
        </div>
    </div>
</div>
